version: "3"
services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  server:
    build: ./server
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
  client:
    build: ./client
    ports:
      - "3000:3000"
volumes:
  mongo-data:
